body {
    font-family: Arial;
    background: #f4f6f8;
    padding: 30px;
}

.box {
    background: white;
    padding: 20px;
    width: 350px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
}

input {
    width: 95%;
    padding: 8px;
    margin: 6px 0;
}

button {
    padding: 8px 15px;
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}
